# PandasDataFrameOutputParser

- Author: [Jiwon Kim](https://github.com/brian604)
- Design: []()
- Peer Review: []()
- This is a part of [LangChain Open Tutorial](https://github.com/LangChain-OpenTutorial/LangChain-OpenTutorial)

[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/langchain-ai/langchain-academy/blob/main/module-4/sub-graph.ipynb) [![Open in LangChain Academy](https://cdn.prod.website-files.com/65b8cd72835ceeacd4449a53/66e9eba12c7b7688aa3dbb5e_LCA-badge-green.svg)](https://academy.langchain.com/courses/take/intro-to-langgraph/lessons/58239937-lesson-2-sub-graphs)


## Overview

This tutorial handles how LLM output could be controlled as `pd.DataFrame` format.   

Pandas is a package, useful in a format of table (i.e. tabular data), widely used by data scientist. It will help you explore, clean, and process the data.

To learn more about `pd.DataFrame` and its capabilities, visit one of Pandas official tutorial, 
[10 minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html).

`PandasDataFrameOutputParser` parses an output using Pandas DataFrame format, according to the [official API doc](https://python.langchain.com/api_reference/langchain/output_parsers/langchain.output_parsers.pandas_dataframe.PandasDataFrameOutputParser.html)
- This can be utilized both as forming of structured output to LLM query in a string and as a forming of structured input for LLM query
    - As an output, you can further look at the usage of pydantic in [01-PydanticOutputParser](https://github.com/LangChain-OpenTutorial/LangChain-OpenTutorial/blob/main/03-OutputParser/01-PydanticOutputParser.ipynb) and elsewhere in this learning guide.
    - As an input, `pd.DataFrame` dataset can be utilized, to make LLM interact with the data    

**Objective of this tutorial**

- Know where `PandasDataFrameOutputParser` is used to interact with `pd.DataFrame`

**Data Acqusition**
- Access to [figshare.com](https://figshare.com) where you can discover the outputs of the academic research from csv to pdfs.

### Table of Contents

- [Overview](#overview)
- [Environement Setup](#environment-setup)
- [When input is `pd.DataFrame` or file](#when-input-is-pd.DataFrame-or-file)
    - [Example of looking up a value for a column](#example-of-looking-up-a-value-for-a-column)
    - [Example of a row lookup](#example-of-a-row-lookup)
    - [Further Operations on Column](#further-operations-on-column)

### References

- [PandasDataFrameOutputParser Official API](https://python.langchain.com/api_reference/langchain/output_parsers/langchain.output_parsers.pandas_dataframe.PandasDataFrameOutputParser.html)
- [10 minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html)    

Internal Reference
- [01-PydanticOutputParser](https://github.com/LangChain-OpenTutorial/LangChain-OpenTutorial/blob/main/03-OutputParser/01-PydanticOutputParser.ipynb)

## Environment Setup

Set up the environment. You may refer to [Environment Setup](https://wikidocs.net/257836) for more details.

**[Note]**
- `langchain-opentutorial` is a package that provides a set of easy-to-use environment setup, useful functions and utilities for tutorials. 
- You can checkout the [`langchain-opentutorial`](https://github.com/LangChain-OpenTutorial/langchain-opentutorial-pypi) for more details.

In [1]:
%%capture --no-stderr
!pip install langchain-opentutorial

In [2]:
# Install required packages
from langchain_opentutorial import package

package.install(
    [
        "pprint",  # Need installation
        "typing",  # Need installation
        "os",
        "pandas",
        "langchain",
        "langchain_core",
        "langchain_community",
        "langchain_openai",
    ],
    verbose=False,
    upgrade=False,
)

ERROR: Could not find a version that satisfies the requirement pprint (from versions: none)
ERROR: No matching distribution found for pprint

In [3]:
# Set environment variables
from langchain_opentutorial import set_env

set_env(
    {
        "OPENAI_API_KEY": "",
        "LANGCHAIN_API_KEY": "",
        "LANGCHAIN_TRACING_V2": "true",
        "LANGCHAIN_ENDPOINT": "https://api.smith.langchain.com",
        "LANGCHAIN_PROJECT": "PandasDataFrameOutputParser",
    }
)

Environment variables have been set successfully.

You can alternatively set API keys such as `OPENAI_API_KEY` in a `.env` file and load them.

[Note] This is not necessary if you've already set the required API keys in previous steps.

In [4]:
# Load API keys from .env file
from dotenv import load_dotenv

load_dotenv(
    override=True, dotenv_path="../.env"
)  # override to my own in one-upper mother path

True

In [4]:
import pprint
from typing import Any, Dict
import os
import pandas as pd
from langchain.output_parsers import PandasDataFrameOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_openai import ChatOpenAI

print(
    f'{os.environ["LANGCHAIN_PROJECT"]} project has been tracked at langsmith endpoint'
)

PandasDataFrameOutputParser project has been tracked at langsmith endpoint

In [5]:
# Initiate Langchain OpenAI model (recommend using gpt-4o-mini)
# model = ChatOpenAI(temperature=0, model_name="gpt-4o-mini")

## When input is `pd.DataFrame` or file.

The `format_parser_output` function is used to convert parser output to dictionary format and format the output.

In [6]:
# Purpose: Only to print. It is a helper function.
def format_parser_output(parser_output: Dict[str, Any]) -> None:
    length_val = len(list(parser_output.values()))
    if length_val == 1 and isinstance(parser_output.values, (int, float)):
        return {"result": parser_output}
        # Iterate around the "keys" of parser output (dict)
    else:
        for key in parser_output.keys():
            parser_output[key] = parser_output[key].to_dict()
            # Pretty Print
            return pprint.PrettyPrinter(width=4, compact=True).pprint(parser_output)

- Since "typical" `titanic.csv` data that had been brought up multiple times in such tutorials, it is boring 
- Let's get from [figshare.com](figshare.com)
    - Data Link
        - Permanent: [Air-Traffic-Passenger-Statistics-csv.csv](https://doi.org/10.6084/m9.figshare.24781905.v1)
        - Website: [Air-Traffic-Passenger-Statistics-csv.csv](https://figshare.com/articles/dataset/Air-Traffic-Passenger-Statistics-csv_csv/24781905?file=43579620)

In [9]:
# Define dataframe
df = pd.read_csv("./data/Air-Traffic-Passenger-Statistics-csv.csv")
df.head()

,Activity Period,Activity Period Start Date,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,data_as_of,data_loaded_at
0,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,31432,2023/11/20 07:01:34 AM,2023/11/20 07:02:25 AM
1,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,31353,2023/11/20 07:01:34 AM,2023/11/20 07:02:25 AM
2,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,2518,2023/11/20 07:01:34 AM,2023/11/20 07:02:25 AM
3,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Deplaned,Other,Terminal 2,D,1324,2023/11/20 07:01:34 AM,2023/11/20 07:02:25 AM
4,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Enplaned,Other,Terminal 2,D,1198,2023/11/20 07:01:34 AM,2023/11/20 07:02:25 AM

In [10]:
df.columns

Index(['Activity Period', 'Activity Period Start Date', 'Operating Airline',
       'Operating Airline IATA Code', 'Published Airline',
       'Published Airline IATA Code', 'GEO Summary', 'GEO Region',
       'Activity Type Code', 'Price Category Code', 'Terminal',
       'Boarding Area', 'Passenger Count', 'data_as_of', 'data_loaded_at'],
      dtype='object')

In [11]:
df.columns = df.columns.str.strip().str.replace('"', "").str.replace("'", "")

In [12]:
# Set up a parser and inject instructions into the prompt template.
parser = PandasDataFrameOutputParser(dataframe=df)

# Print the parser's instructions.
print(parser.get_format_instructions())

The output should be formatted as a string as the operation, followed by a colon, followed by the column or row to be queried on, followed by optional array parameters.
1. The column names are limited to the possible columns below.
2. Arrays must either be a comma-separated list of numbers formatted as [1,3,5], or it must be in range of numbers formatted as [0..4].
3. Remember that arrays are optional and not necessarily required.
4. If the column is not in the possible columns or the operation is not a valid Pandas DataFrame operation, return why it is invalid as a sentence starting with either "Invalid column" or "Invalid operation".

As an example, for the formats:
1. String "column:num_legs" is a well-formatted instance which gets the column num_legs, where num_legs is a possible column.
2. String "row:1" is a well-formatted instance which gets row 1.
3. String "column:num_legs[1,2]" is a well-formatted instance which gets the column num_legs for rows 1 and 2, where num_legs is a possible column.
4. String "row:1[num_legs]" is a well-formatted instance which gets row 1, but for just column num_legs, where num_legs is a possible column.
5. String "mean:num_legs[1..3]" is a well-formatted instance which takes the mean of num_legs from rows 1 to 3, where num_legs is a possible column and mean is a valid Pandas DataFrame operation.
6. String "do_something:num_legs" is a badly-formatted instance, where do_something is not a valid Pandas DataFrame operation.
7. String "mean:invalid_col" is a badly-formatted instance, where invalid_col is not a possible column.

Here are the possible columns:
```
Activity Period, Activity Period Start Date, Operating Airline, Operating Airline IATA Code, Published Airline, Published Airline IATA Code, GEO Summary, GEO Region, Activity Type Code, Price Category Code, Terminal, Boarding Area, Passenger Count, data_as_of, data_loaded_at
```

### Example of looking up a value for a column.

In [13]:
print(df["GEO Region"].head())

0        US
1        US
2        US
3    Europe
4    Europe
Name: GEO Region, dtype: object

In [14]:
df.columns[7]

'GEO Region'

In [15]:
# Example of working with columns.

df_query = "column:GEO Region[0..4]"  # Replace with your intended query
output = parser.parse(df_query)
print(output)
print("----")
print("----")
format_parser_output(output)

{'GEO Region': 0        US
1        US
2        US
3    Europe
4    Europe
Name: GEO Region, dtype: object}
----
----
{'GEO Region': {0: 'US',
                1: 'US',
                2: 'US',
                3: 'Europe',
                4: 'Europe'}}

### Example of a row lookup.

In [16]:
# Example of retrieving first row
df_query = "row:1"

# Row lookup
output = parser.parse(df_query)
format_parser_output(output)

{'1': {'Activity Period': 199907,
       'Activity Period Start Date': '1999/07/01',
       'Activity Type Code': 'Enplaned',
       'Boarding Area': 'B',
       'GEO Region': 'US',
       'GEO Summary': 'Domestic',
       'Operating Airline': 'ATA '
                            'Airlines',
       'Operating Airline IATA Code': 'TZ',
       'Passenger Count': 31353,
       'Price Category Code': 'Low '
                              'Fare',
       'Published Airline': 'ATA '
                            'Airlines',
       'Published Airline IATA Code': 'TZ',
       'Terminal': 'Terminal '
                   '1',
       'data_as_of': '2023/11/20 '
                     '07:01:34 '
                     'AM',
       'data_loaded_at': '2023/11/20 '
                         '07:02:25 '
                         'AM'}}

### Further Operations on Column

In [17]:
df["Passenger Count"].head(5)

0    31432
1    31353
2     2518
3     1324
4     1198
Name: Passenger Count, dtype: int64

In [18]:
# Average passenger counts from 5 first rows
df["Passenger Count"].head(5).mean()

13565.0

In [19]:
# Querying the same operation as above
df_query = "mean:Passenger Count[0..4]"

output = parser.parse(df_query)
print(output)

{'mean': 13565.0}

Next Example is using `value_counts()`

In [20]:
df.head()

,Activity Period,Activity Period Start Date,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,data_as_of,data_loaded_at
0,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,31432,2023/11/20 07:01:34 AM,2023/11/20 07:02:25 AM
1,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,31353,2023/11/20 07:01:34 AM,2023/11/20 07:02:25 AM
2,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,2518,2023/11/20 07:01:34 AM,2023/11/20 07:02:25 AM
3,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Deplaned,Other,Terminal 2,D,1324,2023/11/20 07:01:34 AM,2023/11/20 07:02:25 AM
4,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Enplaned,Other,Terminal 2,D,1198,2023/11/20 07:01:34 AM,2023/11/20 07:02:25 AM

In [21]:
# Wrongly formatted query
df_query = "Calculate value_counts for `GEO` Region."

# Parse out the query
output = parser.parse(df_query)

# Print out result
print(output)

OutputParserException: Request 'Calculate value_counts for `GEO` Region.' is not correctly formatted.                     Please refer to the format instructions.
For troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE

In [22]:
# Well formatted query
df_query = "value_counts:Operating Airline"

# Parse out the query
output = parser.parse(df_query)

# Print out result
print(output)

{'value_counts': Operating Airline
United Airlines - Pre 07/01/2013    3670
United Airlines                     3368
SkyWest Airlines                    2028
Alaska Airlines                     1790
Delta Air Lines                      772
                                    ...
Pacific Aviation                       2
Casino Express                         1
Boeing Company                         1
Samsic Airport America, LLC            1
Harmony Airways                        1
Name: count, Length: 134, dtype: int64}

In [23]:
# Confirmed with the results
df["Operating Airline"].value_counts()

Operating Airline
United Airlines - Pre 07/01/2013    3670
United Airlines                     3368
SkyWest Airlines                    2028
Alaska Airlines                     1790
Delta Air Lines                      772
                                    ...
Pacific Aviation                       2
Casino Express                         1
Boeing Company                         1
Samsic Airport America, LLC            1
Harmony Airways                        1
Name: count, Length: 134, dtype: int64

- Reflections 
    - Did not use the model